.empty_cart {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart {
    padding: 30px !important;
}

.place_order {
    padding: 5px !important;
}

.empty_cart {
    margin-left: 41%;
    margin-top: 6%;
    font-family: 'Ubuntu', sans-serif;
}